<h3> Student Details </h3>
<div>Name: <%= @student.first_name %></div>
<div>Description: <%= @student.last_name %></div>
<div>Created at: <%= @student.dob %></div>
<div>Updated at: <%= @student.highest_education %></div>
